@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Niconne&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Racing+Sans+One&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

header {
    /* border: 2px solid; */
    box-shadow: 0 0 15px rgb(142, 185, 228);
    /* padding: 10px; */
    position: relative;
    background-color: rgba(234, 247, 199, 0.719);
}

.logo {
    /* border: 2px solid; */
    height: 50px;
    width: 70px;
}
.logo img {
    /* border: 2px solid; */
    height: 50px;
    width: 110px;
    object-fit:fill;
}

nav {
    position: absolute;
    top: 10px;
    right: 10px;
}
nav a{
    /* position: absolute; */
    text-align: center;
    margin: 20px 10px;
    padding: 10px;
    text-decoration: none;
    color: blue;
  
}

.card {
    /* border: 2px solid; */
    height: 430px;
    width: 300px;
    margin: 20px 15px;
    box-shadow: inset -1px -1px 14px 0px gray;
    display: inline-block;
     border-top-right-radius: 20px;
     border-bottom-left-radius: 20px;
}

.card .card-img img {
    /* border: 2px solid; */
    height: 250px;
    width: 300px;
    object-fit: cover;
     border-top-right-radius: 20px;

}

.card a {
    /* border: 2px solid black; */
    border-radius: 20px;
    text-decoration: none;
    color: white;
    background: blueviolet;
    text-align: center;
    margin: 10px auto;
    padding: 2px;
    width: 180px;
    display: block;
}

.card-foot {
    padding: 1px;
}
.card-foot p{
    text-indent: 40px;
    word-spacing: 5px;
    text-align: justify;
}