*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-box{
    /* border: 2px solid black; */
    height: 500px;
    width: 400px;
    /* margin: 6% auto; */
    box-shadow: 11px 8px 11px 1px gray;
    position:relative;
    float: left;
    margin: 10px;
}
.top-box{
    /* border: 2px solid red; */
    height: 350px;
    width: 400px;
    background-image: url(/img/f3ae4421c7d800d6e01e591d36459625.jpg);
    background-size: cover;
      box-shadow:inset -1px 0px 11px 1px gray;

}
.bottom-box{
     /* border: 1px solid black; */
    height: 150px;
    width: 400px;
    position: absolute;
    bottom: 0;
}
