@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Niconne&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --bg-color1-: #000000f8;
    --bg-color2-: linear-gradient(#000000de, gray, #000000da);
    ---FONT-MAIN: "Cinzel Decorative", serif;
    ---font-head-: "Playfair Display", serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header {
    top: 0;
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
    background: #12121298;
    border-bottom: 1px solid #bfa24a1e;
    padding: 2px 0px;
    position: relative;

}

.logo {
    
    /* border: 2px so   lid red; */
    height: 70px;
    width: 250px;
}

.logo img {
    /* border: 2px solid; */
    height: 80px;
    width: 350px;
    object-fit: cover;
}

/* logo section end */


nav {
    /* border: 2px solid; */
    width: 700px;
    align-self: center;
    position: absolute;
    left: 35%;

}

nav ul {
    display: flex;
    justify-content: center;
    gap: 70px;

}

nav ul li {
    list-style: none;
    position: relative;
    overflow: hidden;
}

nav ul li a {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 2px;
    text-decoration: none;
    color: #eaeaea;
      overflow: hidden;
    padding: -0.9em 2em;
    font-family: "Playfair Display", Helvetica, Arial, sans-serif;
}

nav ul li a:hover {
    background: linear-gradient(#fff8d3, #FFA500, #ffffff);
    color: transparent;
    background-clip: text;
}

/* navigation end */
/* ::before ::after using  */

nav ul a::before,
a::after {
    content: "";
    width: 0px;
    height: 2px;
    background-color: #D4af37;
    transition: 0.3s;

}

nav ul a::before {
    position: absolute;
    bottom: 0px;
    left: 0px;
}

nav ul a::after {
    position: absolute;
    top: 0;
   right: 0px;
}

nav ul a:hover::before,
a:hover:after {
    width: 90px;
}


header .btn {
    position: absolute;
    top: 10px;
    right: 100px;
    border: 2px solid #ffa60046;
    height: 50px;
    width: 150px;
    align-self: center;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    background-color: #f0a534b4;

}

.outside {
    transition: 0.5s;

}

.box {
    border-top-right-radius: 10px;
    position: absolute;
    background-color: #ffffff0e;
    height: 50px;
    width: 150px;
    left: -150px;
}

.btn:hover .box {
    left: 0;
}

.btn a {
    position: absolute;
    top: 5px;
    left: 20px;
    color: #ffffff;
    text-decoration: none;
    font-size: 24px;
    font-family: "Playfair Display", serif;
    font-weight: 100;
    transition: 0.9s;
}

.btn:hover a {
    background: linear-gradient(#fff8d3, #FFA500, #daa9a9);
    color: transparent;
    background-clip: text;
}

/* button box end */


header #add i {
    position: absolute;
    color: #fff8d3;
    font-size: 20px;
    right: 40px;
    top: 25px;
}

header #add i:hover {
    color: #fdf90a;
}

/* home rightside content */

.home {
    height: 100vh;
    background: url(/img/project-img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.h-content {
    position: absolute;
    /* border: 2px solid; */
    width: 480px;
    cursor: default;
    /* display: flex; */
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    top: 55%;
    left: 10%;
    transform: translateY(-50%);
    
}

.h-content h2 {
    font-family: var(---FONT-MAIN);
    font-weight: 700;
    font-size: 45px;
    background: linear-gradient(to bottom right, #ffffffbe, #ffa600ef, #ffa600fb, #ffffffbe);
    color: transparent;
    background-clip: text;
}

.h-content h4 {
    font-family: "Playfair Display", serif;
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0px;
    color: rgb(230, 217, 215);
}

.h-content p {
    text-align: justify;
    font-weight: 300;
    background: linear-gradient(#fff8d3, #fdd384);
    color: transparent;
    background-clip: text;
}

.main-btn {
    margin: 30px 0;
    padding: 8px 26px;
    background-color: var(--color-text-);
    color: #FFA500;
    border: 1px solid #ffa60094;
    border-radius: 7px;
    cursor: pointer;
}

.main-btn:hover {
    box-shadow: 0px 0px 6px 0px;
}

/* Header section end */



.container {
    /* border: 2px solid green; */
    height: 100vh;
    background: rgba(245, 245, 245, 0);

}

.con-header {
    /* border: 2px solid red; */
    height: 100px;
    width: 800px;
    margin: 0px auto;
    position: relative;
}

.con-body {
    /* border: 2px solid red; */
    margin: 80px 130px;
    display: flex;
    justify-content: center;
    gap: 50px;

}

/* page2 About */

.con-header h2 {
    position: absolute;
    font-size: 30px;
    word-spacing: 2px;
    margin: 60px auto;
    padding: 1px 100px;
    color: rgb(12, 7, 7);
    font-family: var(---font-head-);
}

/* line design */

.con-header .flip {
    /* border: 2px solid; */
    position: absolute;
    display: block;
    width: 100%;
    top: 60px;
}

.con-header p {
    /* border: 2px solid red;   */
    margin: 80px auto;
}

.con-header p .deg1 {
    position: absolute;
    bottom: 2px;
    left: 0px;
    right: 30px;
    width: 6px;
    height: 6px;
    /* content: ''; */
    background: #bb9167;
    transform: rotate(135deg);
    margin: 0 auto;
}

.con-header p .deg2 {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0;
    width: 10px;
    height: 10px;
    /* content: ''; */
    background: #ce9c6b;
    transform: rotate(135deg);
    margin: 0 auto;
}

.con-header p .deg3 {
    position: absolute;
    bottom: 2px;
    left: 30px;
    right: 0;
    width: 6px;
    height: 6px;
    /* content: ''; */
    background: #ce9c6b;
    transform: rotate(135deg);
    margin: 0 auto;
}

.con-header p.flip::before {
    position: absolute;
    bottom: 4px;
    left: 100px;
    right: 0;
    content: '';
    width: 40px;
    height: 1px;
    background: #52361b;
    margin: 0 auto;
}

.con-header p.flip:after {
    position: absolute;
    bottom: 4px;
    left: 0px;
    right: 100px;
    content: '';
    width: 40px;
    height: 1px;
    background: #52361b;
    margin: 0 auto;
}

.head-clr {
    font-family: var(---FONT-MAIN);
    color: #FFA500;
}

/* line design end */

.body-left,
.body-right {
    /* border: 2px solid rgb(0, 55, 106); */
    height: 350px;
    width: 700px;
    margin-top: 10px;

}

.body-right img {
    height: 350px;
    width: 600px;
    border:3px double #D4af37;
   border-top-right-radius: 20px;
   border-bottom-left-radius: 20px;
    object-fit: cover;
}
.body-right{
     height: 350px;
    width: 600px;
      border-top-right-radius: 20px;
   border-bottom-left-radius: 20px;
    /* border: 2px solid; */
    background-color: rgba(112, 128, 144, 0.61);
}
.body-right:hover img{
    
     clip-path: polygon(100% 9%, 100% 100%, 0 90%, 0 0);
}




/* page3 servics */
.srs {
    background: var(--bg-color1-);
}

.title h2 {
    font-family: var(---font-head-);
    margin: 70px 140px auto;
}

.title pre {
    position: absolute;
    margin: 180px 120px;
    color: white;
}

section {
    margin-top: 160px;
    /* border: 2px solid yellow; */
    height: 50vh;
    display: flex;
    gap: 3px;
    position: relative;
}

.s-box1 {
    /* position: absolute; */
    /* border: 2px solid red; */
    width: 100%;
    transition: 1s;
    font-family: Flaticon;
}

.out {
    border: 2px solid blueviolet;
    height: 20vh;
}

.out .s-icon {
    position: absolute;
    border: 2px solid rgb(255, 230, 0);
    height: 60px;
    width: 60px;
    margin: 30px 130px auto;
}

.out .s-icon i {
    /* height: 60px; */
    /* width: 60px; */
    /* object-fit: contain; */
    color: white;
}

.s-box1:hover .s-icon {
    transform: rotate(45deg);
    box-shadow: 0 0 25px #bfa14a;
}

.in {
    border: 2px solid rgb(86, 226, 43);
    height: 30vh;
}

.fa-bars,
#bar{
    display: none;
}



@media screen and (max-width:576px) {

    .fa-bars{
        display: block;
    }
    .home{
        height: 19rem;
        /* width: 400px; */
    }

    .end{
        display: none;
    }

    header {
        height: 50px;
        position: relative;
    }
    .h-content{
        /* border: 1px solid red; */
        /* height: 400px; */
        gap: 5px;
       width: 202px;
       top: 25%;
    }
    .h-content h2 {
        font-size: 20px;
        margin: 0px;
    }
    .h-content h4{
        font-size: 15px;
    }
    .h-content p{
        text-align: justify;
        font-size: 8px;
    }
        .h-content .main-btn {
        margin: 10px 0;
        font-size: 9px;
        padding: 3px 3px;
    }

    .logo img {
        /* border: 2px solid; */
        position: absolute;
        left: 0px;
        top: 0;
        height: 50px;
        width: 160px;
        padding: 1px 2px;
        margin: 0 0;
    }

    nav{
        position: absolute;
        background-color: rgb(151, 144, 144);
        flex-direction: column;
        top: 110%;
        left: 50%;
        transform: translateX(-14%);
        /* width: 100px; */
        width: max-content;
        height: max-content;
        z-index: 1;
        padding: 1em 2em;
        /* display: none; */
        transition: 1s;
        opacity: 0;
    }

    nav ul{
        flex-direction: column;
        gap: 30px ;
        align-items: center;
    }

    nav ul a{
        color: yellow;
        transition: 1s;
        /* border: 1px solid green; */
        /* padding:  */
        
    }
    .fa-bars{
        position: absolute;
        top: 15px;
        right: 20px;
        color: whitesmoke;
    }
     #bar:checked~nav{
        opacity: 1;
    }

 
}