@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Niconne&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --bg-color2-: #DDD8CB;
    --bg-color1-: #0B0B0B;
    ---FONT-MAIN: "Cinzel Decorative", serif;
    ---font-head-: "Playfair Display", serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header {
    top: 0;
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
    background: #12121298;
    border-bottom: 1px solid #bfa24a1e;
    padding: 2px 0px;
    position: relative;

}

.logo {

    /* border: 2px so   lid red; */
    height: 70px;
    width: 250px;
}

.logo img {
    /* border: 2px solid; */
    height: 80px;
    width: 350px;
    object-fit: cover;
}

/* logo section end */


nav {
    /* border: 2px solid; */
    width: 700px;
    align-self: center;
    position: absolute;
    left: 35%;

}

nav ul {
    display: flex;
    justify-content: center;
    gap: 70px;

}

nav ul li {
    list-style: none;
    position: relative;
    overflow: hidden;
}

nav ul li a {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 2px;
    text-decoration: none;
    color: #eaeaea;
    overflow: hidden;
    padding: -0.9em 2em;
    font-family: "Playfair Display", Helvetica, Arial, sans-serif;
}

nav ul li a:hover {
    background: linear-gradient(#fff8d3, #FFA500, #ffffff);
    color: transparent;
    background-clip: text;
}

/* navigation end */
/* ::before ::after using  */


nav ul a::before,
a::after {
    content: "";
    width: 0px;
    height: 2px;
    background-color: #D4af37;
    transition: 0.3s;

}

nav ul a::before {
    position: absolute;
    bottom: 0px;
    left: 0px;
}

nav ul a::after {
    position: absolute;
    top: 0;
    right: 0px;
}

nav ul a:hover::before,
a:hover:after {
    width: 90px;
}

/* ::before ::after using end */
header .btn {
    position: absolute;
    top: 10px;
    right: 100px;
    border: 2px solid #ffa60046;
    height: 50px;
    width: 150px;
    align-self: center;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    background-color: #f0a534b4;

}

.outside {
    transition: 0.5s;

}

.box {
    border-top-right-radius: 10px;
    position: absolute;
    background-color: #ffffff0e;
    height: 50px;
    width: 150px;
    left: -150px;
}

.btn:hover .box {
    left: 0;
}

.btn a {
    position: absolute;
    top: 5px;
    left: 20px;
    color: #ffffff;
    text-decoration: none;
    font-size: 24px;
    font-family: "Playfair Display", serif;
    font-weight: 100;
    transition: 0.9s;
}

.btn:hover a {
    background: linear-gradient(#fff8d3, #FFA500, #daa9a9);
    color: transparent;
    background-clip: text;
}

header #add i {
    position: absolute;
    color: #fff8d3;
    font-size: 20px;
    right: 40px;
    top: 25px;
}

header #add i:hover {
    color: #fdf90a;
}

/* header sec end */
/* home rightside content stared */


.home {
    height: 100vh;
    background: url(/img/project-img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.h-content {
    position: absolute;
    /* border: 2px solid; */
    width: 480px;
    cursor: default;
    /* display: flex; */
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    top: 55%;
    left: 10%;
    transform: translateY(-50%);

}

.h-content h2 {
    font-family: var(---FONT-MAIN);
    font-weight: 700;
    font-size: 45px;
    background: linear-gradient(to bottom right, #ffffffbe, #ffa600ef, #ffa600fb, #ffffffbe);
    color: transparent;
    background-clip: text;
}

.h-content h4 {
    font-family: "Playfair Display", serif;
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0px;
    color: rgb(230, 217, 215);
}

.h-content p {
    text-align: justify;
    font-weight: 300;
    background: linear-gradient(#fff8d3, #fdd384);
    color: transparent;
    background-clip: text;
}

.main-btn {
    margin: 30px 0;
    padding: 8px 26px;
    background-color: rgba(0, 0, 0, 0.678);
    color: #FFA500;
    border: 1px solid #ffa60094;
    border-radius: 7px;
    cursor: pointer;
}

.main-btn:hover {
    box-shadow: 0px 0px 6px 0px;
}

/* Header section end */



.container {
    /* border: 2px solid green; */
    height: 90vh;
    background: var(--bg-color2-);

}

.con-header {
    /* border: 2px solid #1f1f1f; */
    height: 120px;
    width: 700px;
    margin: 0px auto;
    position: relative;


}

.con-body {
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
}

/* page2 About stard */


.con-header .t1 {
    position: absolute;
    top: 30px;
    left: 100px;
    font-size: 30px;
    word-spacing: 2px;
    color: rgb(7, 0, 0);
    font-family: var(---font-head-);
}

.con-header .t1::before,
.con-header .t1::after {
    position: absolute;
    content: "";
    height: 0.5px;
    width: 0px;
    background: rgba(216, 171, 212, 0.904);
    transition: 2s ease;
}

.con-header .t1::after {
    position: absolute;
    bottom: 0;
    left: 0;
}

.con-header .t1::before {
    position: absolute;
    bottom: 0;
    right: 0;
}

.con-header:hover .t1:before,
.con-header:hover .t1::after {
    width: 540px;
}

/* line design */

.con-header .flip {
    /* border: 2px solid; */
    position: absolute;
    width: 100%;
    top: 90px;
    left: 40px;
}

.con-header p .deg1 {
    position: absolute;
    bottom: 2px;
    left: 0px;
    right: 30px;
    width: 6px;
    height: 6px;
    background: #bb9167;
    transform: rotate(135deg);
    margin: 0 auto;
}

.con-header p .deg2 {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0;
    width: 10px;
    height: 10px;
    background: #ce9c6b;
    transform: rotate(135deg);
    margin: 0 auto;
}

.con-header p .deg3 {
    position: absolute;
    bottom: 2px;
    left: 30px;
    right: 0;
    width: 6px;
    height: 6px;
    background: #ce9c6b;
    transform: rotate(135deg);
    margin: 0 auto;
}

.con-header p.flip::before {
    position: absolute;
    bottom: 4px;
    left: 100px;
    right: 0;
    content: '';
    width: 40px;
    height: 1px;
    background: #52361b;
    margin: 0 auto;
}

.con-header p.flip:after {
    position: absolute;
    bottom: 4px;
    left: 0px;
    right: 100px;
    content: '';
    width: 40px;
    height: 1px;
    background: #52361b;
    margin: 0 auto;
}

.head-clr {
    font-family: var(---FONT-MAIN);
    color: #FFA500;
}
/* line design end */

.body-left,
.body-right {
    /* border: 2px solid #D4af37; */
    height: 350px;
    width: 500px;
    margin-top: 20px;
    position: relative;
}

.body-left h1 {
    color: rgb(0, 0, 0);
    position: absolute;
    left: 10px;
    font-size: 35px;
    font-weight: 500;
    font-family: var(---font-head-);
}

.body-left h3 {
    position: absolute;
    top: 60px;
    left: 10px;
    background: linear-gradient(#ff3c00, #ffa600, orangered);
    color: transparent;
    background-clip: text;
    font-weight: 400;
    font-family: var(---font-head-);
    font-size: 25px;

}

.body-left p {
    position: absolute;
    top: 140px;
    left: 10px;
    background: linear-gradient(#555353, #000000e8, #574d4d);
    color: transparent;
    background-clip: text;
    text-align: justify;
}

.body-left .main-btn {
    position: absolute;
    bottom: 0;
    left: 10px;
}

.body-right img {
    height: 350px;
    width: 600px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    object-fit: cover;
    border: 1px solid #D4af37;
    position: absolute;
    transform: scale(1);
    overflow: hidden;
    transition: 1s;
    transition-delay: 0.6s;

}

.bg-s:hover img {
    transform: scale(1.1);
}

.bg-s {
    height: 350px;
    width: 600px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    /* border: 2px solid #D4af37; */
    overflow: hidden;
    position: relative;

}

.bg-s:hover {
    box-shadow: 0 0 20px rgba(191, 161, 74, 0.7);
}

.bg-shadow {
    position: absolute;
    /* border: 2px solid red; */
    height: 700px;
    width: 700px;
    border-radius: 50%;
    background: linear-gradient(#fff8d30e, #fdd3840e);
    z-index: 3;
    opacity: 1;
    bottom: -180px;
    left: -60px;
    transform: scale(1);
    transition: 1s;
}

.bg-s:hover .bg-shadow {
    opacity: 0;
    transform: scale(0);
}


/*  page3 why choose royal edge stard*/


.c3 {
    /* border: 2px solid red; */
    background: var(--bg-color1-);
    /* background: wheat; */
}

.c-body {
    /* border: 2px solid; */
    display: flex;
    justify-content: space-evenly;

}

.b-left {
    /* border: 2px solid red; */
    height: 300px;
    width: 450px;

}

.b-left p {
    font-family: var(---font-head-);
    margin: 20px;
    font-size: 22px;
    font-weight: 500;
    color: #eaeaea;
}

.b-left .fa-check {
    margin: 0 9px;
    font-size: 20px;
    color: #D4af37;
}

.b-right {
    /* border: 2px solid red; */
    height: 300px;
    width: 650px;
    position: relative;
    display: flex;
    /* background-color: #141414; */
}

.l-b1 {
    border: 2px solid #80004685;
    width: 197px;
    height: 291px;
    background-image: url(/img/project-img/box-m.jpg);
    background-size: cover;
    transition: 1s;

}

.l-b1:hover {
    box-shadow: -1px 0px 8px 1px whitesmoke;
}

.r-box {
    /* position: absolute; */
    /* border: 2px solid green; */
    width: 500px;
    height: 300px;
}

.t-box {
    /* border: 2px solid blue; */
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 4px;
}

.box1 {
    height: 140px;
    width: 210px;
    transition: 1s;
}

.box1 img {
    border: 2px solid #9416646e;
    height: 140px;
    width: 210px;
    object-fit: conver;

}

.box1:hover {
    box-shadow: -1px 0px 8px 1px whitesmoke;
}


/* page4 Precision in every cut stard */

.c4 {
    /* border: 2px solid orangered; */
    height: 104vh;
    background: #DDD8CB;
}

.con-header .black {

    color: #000000;
}

.b4 {
    height: 80vh;
    /* border: 2px solid red; */
    margin: 0 70px;
    /* display: flex; */
}
       /* top box */

.top-box {
    height: 40vh;
    /* border: 2px solid blue; */
    display: flex;
    cursor: default;
}

.t-leftbx {
    /* border: 2px solid green; */
    width: 50%;
    height: 100%;
    display: flex;
}

.t1-leftimg {
    /* border: 2px solid rgb(255, 114, 13); */
    width: 50%;
    background-color: #eaeaea04;
    padding: 30px 35px;
    object-fit: cover;
    /* height: 100%; */
}

.t1-rightcon {
    /* border: 2px solid saddlebrown; */
    width: 100%;
    /* height: 100%; */
}

.t-rightbx {
    /* border: 2px solid green; */
    width: 50%;
    display: flex;
}

.t2-leftimg {
    /* border: 2px solid yellow; */
    width: 50%;
    /* background-color: #eaeaea00; */
    padding: 30px 35px;
    object-fit: cover;
}

.t2-rightcon {
    /* border: 2px solid yellow; */
    width: 100%;
}
  /* bottom box */

.bottom-box {
    height: 40vh;
    /* border: 2px solid blueviolet; */
    display: flex;
    cursor: default;
}

.b-leftbox {
    /* border: 2px solid orangered; */
    width: 50%;
    display: flex;
}

.b1-leftimg {
    width: 40%;
    /* background-color: #eaeaea00; */
    padding: 26px 35px;
    object-fit: cover;

}

.b1-rightcon {
    /* border: 2px solid saddlebrown; */
    width: 100%;

}

.b-rightbox {
    /* border: 2px solid orangered; */
    width: 50%;
    display: flex;
}

.b2-leftimg {
    width: 40%;
    /* background-color: #eaeaea; */
    padding: 26px 35px;
    object-fit: cover;

}

.b2-rightcon {
    /* border: 2px solid saddlebrown; */
    width: 100%;

}

           /* Overall controls  */

.main-h {
    background: linear-gradient(gray, rgba(0, 0, 0, 0.911), gray);
    color: transparent;
    background-clip: text;
    margin: 12px 0;
    font-family: var(---FONT-MAIN);
    font-size: 25px;
    font-weight: 600;
}

.main-p {
    font-size: 15px;
    color: gray;
}

.main-button {
    margin: 17px 0;
    padding: 5px 9px;
    border-radius: 1px;
    border: 1px solid black;
    font-family: var(---font-head-);
    font-size: 19px;
    font-weight: 200;
    color: white;
    background: rgba(0, 0, 0, 0.884);
    cursor: pointer;
    position: relative;
    overflow: hidden;

}

.main-button::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    height: 36.5px;
    width: 0px;
    background-color: #cc7e30;
    transition: 1s;
    opacity: 1;
}

.main-button:hover:before {
    width: 130px;
    opacity: 0;

}

.main-button i {
    font-size: 15px;
    transform: rotate(-95DEG);
    transition: 1s;
    margin: 0 5px;
}

.main-button:hover i {
    transform: rotate(1deg);
}

/* page5 servics stard */


.c5 {
    height: 100vh;
    background: var(--bg-color1-);
    /* background: white; */
    position: relative;
}

.con-header h2 {
    position: absolute;
    top: 20px;
    left: 212px;
    font-size: 30px;
    color: white;
    font-family: var(---font-head-);
}

.h5 pre {
    position: absolute;
    top: 120px;
    left: 90px;
    color: white;
}





























.fa-bars,
#bar {
    display: none;
}

@media screen and (max-width:576px) {

    .fa-bars {
        display: block;
    }

    .home {
        height: 19rem;
        /* width: 400px; */
    }

    .end {
        display: none;
    }

    header {
        height: 50px;
        position: relative;
    }

    .h-content {
        /* border: 1px solid red; */
        /* height: 400px; */
        gap: 5px;
        width: 202px;
        top: 25%;
    }

    .h-content h2 {
        font-size: 20px;
        margin: 0px;
    }

    .h-content h4 {
        font-size: 15px;
    }

    .h-content p {
        text-align: justify;
        font-size: 8px;
    }

    .h-content .main-btn {
        margin: 10px 0;
        font-size: 9px;
        padding: 3px 3px;
    }

    .logo img {
        /* border: 2px solid; */
        position: absolute;
        left: 0px;
        top: 0;
        height: 50px;
        width: 160px;
        padding: 1px 2px;
        margin: 0 0;
    }

    nav {
        position: absolute;
        background-color: rgb(151, 144, 144);
        flex-direction: column;
        top: 110%;
        left: 50%;
        transform: translateX(-14%);
        /* width: 100px; */
        width: max-content;
        height: max-content;
        z-index: 1;
        padding: 1em 2em;
        /* display: none; */
        transition: 1s;
        opacity: 0;
    }

    nav ul {
        flex-direction: column;
        gap: 30px;
        align-items: center;
    }

    nav ul a {
        color: yellow;
        transition: 1s;
        /* border: 1px solid green; */
        /* padding:  */

    }

    .fa-bars {
        position: absolute;
        top: 15px;
        right: 20px;
        color: whitesmoke;
    }

    #bar:checked~nav {
        opacity: 1;
    }


}